webapp/media/catalogs/store/configuration/xsdfiles/EZL_XMLPO_02_20_12.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by jtremblay (The Kodiak Group) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="AdditionalItemDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ChangeReasonCode" minOccurs="0"/>
				<xs:element ref="ClassOfTradeCode" minOccurs="0"/>
				<xs:element ref="PriceIdentifier" minOccurs="0"/>
				<xs:element ref="PriceChange" minOccurs="0"/>
				<xs:element ref="QuantityChange" minOccurs="0"/>
				<xs:element ref="UnitOfMeasure" minOccurs="0"/>
				<xs:element ref="Attributes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AddressCity" type="xs:string"/>
	<xs:element name="AddressContactEmail" type="xs:string"/>
	<xs:element name="AddressContactFax" type="xs:string"/>
	<xs:element name="AddressContactName" type="xs:string"/>
	<xs:element name="AddressContactPhone" type="xs:string"/>
	<xs:element name="AddressContactType" type="xs:string"/>
	<xs:element name="AddressCountry" type="xs:string"/>
	<xs:element name="AddressIDCode" type="xs:string"/>
	<xs:element name="AddressIDQual" type="xs:string"/>
	<xs:element name="AddressLine1" type="xs:string"/>
	<xs:element name="AddressLine2" type="xs:string"/>
	<xs:element name="AddressLine3" type="xs:string"/>
	<xs:element name="AddressLine4" type="xs:string"/>
	<xs:element name="AddressName1" type="xs:string"/>
	<xs:element name="AddressName2" type="xs:string"/>
	<xs:element name="AddressPostalCode" type="xs:string"/>
	<xs:element name="AddressState" type="xs:string"/>
	<xs:element name="AddressType" type="xs:string"/>
	<xs:element name="AllowChargeAgcyCode" type="xs:string"/>
	<xs:element name="AllowChargeAgcyQual" type="xs:string"/>
	<xs:element name="AllowChargeAmount" type="xs:string"/>
	<xs:element name="AllowChargeCode" type="xs:string"/>
	<xs:element name="AllowChargeIndicator" type="xs:string"/>
	<xs:element name="AllowChargeLocation" type="xs:string"/>
	<xs:element name="AllowChargeMethodofHandling" type="xs:string"/>
	<xs:element name="AllowChargePct" type="xs:string"/>
	<xs:element name="AllowChargePctQualifier" type="xs:string"/>
	<xs:element name="AllowChargeQuantity" type="xs:string"/>
	<xs:element name="AllowChargeRate" type="xs:string"/>
	<xs:element name="AllowChargeReferenceNbr" type="xs:string"/>
	<xs:element name="AllowChargeText" type="xs:string"/>
	<xs:element name="AllowChargeUOMBasis" type="xs:string"/>
	<xs:element name="AllowCreditDebitFlag" type="xs:string"/>
	<xs:element name="Amount" type="xs:string"/>
	<xs:element name="AssignedID" type="xs:string"/>
	<xs:element name="Attribute" type="xs:string"/>
	<xs:element name="Attributes">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="TblAddress"/>
				<xs:element ref="TblAllowCharge"/>
				<xs:element ref="TblAmount"/>
				<xs:element ref="TblAVP"/>
				<xs:element ref="TblDate"/>
				<xs:element ref="TblEntityID"/>
				<xs:element ref="TblMeasurement"/>
				<xs:element ref="TblReferenceNbr"/>
				<xs:element ref="TblTax"/>
				<xs:element ref="TblTermsOfSale"/>
				<xs:element ref="TblTextMessage"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="BuyerCurrencyCode" type="xs:string"/>
	<xs:element name="BuyerExchangeRate" type="xs:string"/>
	<xs:element name="ChangeReasonCode" type="xs:string"/>
	<xs:element name="ClassOfTradeCode" type="xs:string"/>
	<xs:element name="CountryOfOrigin" type="xs:string"/>
	<xs:element name="CreditDebitFlag" type="xs:string"/>
	<xs:element name="DateValue" type="xs:string"/>
	<xs:element name="DayOfMonth" type="xs:string"/>
	<xs:element name="DeferredAmountDue" type="xs:string"/>
	<xs:element name="DefferedDueDate" type="xs:string"/>
	<xs:element name="Description" type="xs:string"/>
	<xs:element name="DiscountAmount" type="xs:string"/>
	<xs:element name="DiscountDaysDue" type="xs:string"/>
	<xs:element name="DiscountDueDate" type="xs:string"/>
	<xs:element name="DiscountPercent" type="xs:string"/>
	<xs:element name="DollarBasisforPct" type="xs:string"/>
	<xs:element name="EntityValue" type="xs:string"/>
	<xs:element name="FOB" type="xs:string"/>
	<xs:element name="LineItemNumber" type="xs:string"/>
	<xs:element name="Measurement" type="xs:string"/>
	<xs:element name="NetDaysDue" type="xs:string"/>
	<xs:element name="NetDueDate" type="xs:string"/>
	<xs:element name="POAckType" type="xs:string"/>
	<xs:element name="PODetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LineItemNumber" minOccurs="0"/>
				<xs:element ref="QuantityOrdered" minOccurs="0"/>
				<xs:element ref="QuantityBackOrdered" minOccurs="0"/>
				<xs:element ref="QuantityShipped" minOccurs="0"/>
				<xs:element ref="QuantityInvoiced" minOccurs="0"/>
				<xs:element ref="QuantityCancelled" minOccurs="0"/>
				<xs:element ref="UnitPrice" minOccurs="0"/>
				<xs:element ref="UnitOfMeasure" minOccurs="0"/>
				<xs:element ref="UnitPriceBasis" minOccurs="0"/>
				<xs:element ref="RetailPrice" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="StoreNbr" minOccurs="0"/>
				<xs:element ref="Attributes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="StoreLocationGroups" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AdditionalItemDetail" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SubLineItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="POGroup">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="POHeader" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="POHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PONumber" minOccurs="0"/>
				<xs:element ref="POStatus" minOccurs="0"/>
				<xs:element ref="POType" minOccurs="0"/>
				<xs:element ref="POAckType" minOccurs="0"/>
				<xs:element ref="PurposeCode" minOccurs="0"/>
				<xs:element ref="TransportationMethod" minOccurs="0"/>
				<xs:element ref="Routing" minOccurs="0"/>
				<xs:element ref="FOB" minOccurs="0"/>
				<xs:element ref="CountryOfOrigin" minOccurs="0"/>
				<xs:element ref="Attributes" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PODetail" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PONumber" type="xs:string"/>
	<xs:element name="POStatus" type="xs:string"/>
	<xs:element name="POType" type="xs:string"/>
	<xs:element name="PaymentMethod" type="xs:string"/>
	<xs:element name="Percent954" type="xs:string"/>
	<xs:element name="PercentOfInvPayable" type="xs:string"/>
	<xs:element name="PriceChange" type="xs:string"/>
	<xs:element name="PriceIdentifier" type="xs:string"/>
	<xs:element name="PurchaseOrder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attributes" maxOccurs="unbounded"/>
				<xs:element ref="POGroup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PurposeCode" type="xs:string"/>
	<xs:element name="Qualifier" type="xs:string"/>
	<xs:element name="QuantityBackOrdered" type="xs:string"/>
	<xs:element name="QuantityCancelled" type="xs:string"/>
	<xs:element name="QuantityChange" type="xs:string"/>
	<xs:element name="QuantityInvoiced" type="xs:string"/>
	<xs:element name="QuantityOrdered" type="xs:string"/>
	<xs:element name="QuantityShipped" type="xs:string"/>
	<xs:element name="ReferenceNbr" type="xs:string"/>
	<xs:element name="RelationshipCode" type="xs:string"/>
	<xs:element name="RetailPrice" type="xs:string"/>
	<xs:element name="Routing" type="xs:string"/>
	<xs:element name="SellerCurrencyCode" type="xs:string"/>
	<xs:element name="SellerExchangeRate" type="xs:string"/>
	<xs:element name="ShipQuantity" type="xs:string"/>
	<xs:element name="StoreLocationGroups">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="StoreLocations" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoreLocations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TblAmount" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="TblEntityID" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="StoreNbr" type="xs:string"/>
	<xs:element name="SubLineItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AssignedID" minOccurs="0"/>
				<xs:element ref="SubLineLevel" minOccurs="0"/>
				<xs:element ref="RelationshipCode" minOccurs="0"/>
				<xs:element ref="Attributes" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubLineLevel" type="xs:string"/>
	<xs:element name="TaxAmount" type="xs:string"/>
	<xs:element name="TaxExemptCode" type="xs:string"/>
	<xs:element name="TaxID" type="xs:string"/>
	<xs:element name="TaxJurisdictionCode" type="xs:string"/>
	<xs:element name="TaxJurisdictionQual" type="xs:string"/>
	<xs:element name="TaxPercent" type="xs:string"/>
	<xs:element name="TaxType" type="xs:string"/>
	<xs:element name="TblAVP">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Attribute" minOccurs="0"/>
				<xs:element ref="Value" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblAddress">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AddressType" minOccurs="0"/>
				<xs:element ref="AddressName1" minOccurs="0"/>
				<xs:element ref="AddressName2" minOccurs="0"/>
				<xs:element ref="AddressIDQual" minOccurs="0"/>
				<xs:element ref="AddressIDCode" minOccurs="0"/>
				<xs:element ref="AddressLine1" minOccurs="0"/>
				<xs:element ref="AddressLine2" minOccurs="0"/>
				<xs:element ref="AddressLine3" minOccurs="0"/>
				<xs:element ref="AddressLine4" minOccurs="0"/>
				<xs:element ref="AddressCity" minOccurs="0"/>
				<xs:element ref="AddressState" minOccurs="0"/>
				<xs:element ref="AddressPostalCode" minOccurs="0"/>
				<xs:element ref="AddressCountry" minOccurs="0"/>
				<xs:element ref="AddressContactType" minOccurs="0"/>
				<xs:element ref="AddressContactName" minOccurs="0"/>
				<xs:element ref="AddressContactPhone" minOccurs="0"/>
				<xs:element ref="AddressContactEmail" minOccurs="0"/>
				<xs:element ref="AddressContactFax" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblAllowCharge">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AllowChargeIndicator" minOccurs="0"/>
				<xs:element ref="AllowChargeCode" minOccurs="0"/>
				<xs:element ref="AllowChargeAmount" minOccurs="0"/>
				<xs:element ref="AllowChargePctQualifier" minOccurs="0"/>
				<xs:element ref="AllowChargePct" minOccurs="0"/>
				<xs:element ref="AllowChargeRate" minOccurs="0"/>
				<xs:element ref="AllowChargeUOMBasis" minOccurs="0"/>
				<xs:element ref="AllowChargeQuantity" minOccurs="0"/>
				<xs:element ref="AllowChargeMethodofHandling" minOccurs="0"/>
				<xs:element ref="AllowChargeText" minOccurs="0"/>
				<xs:element ref="AllowChargeLocation" minOccurs="0"/>
				<xs:element ref="AllowChargeAgcyQual" minOccurs="0"/>
				<xs:element ref="AllowChargeAgcyCode" minOccurs="0"/>
				<xs:element ref="AllowCreditDebitFlag" minOccurs="0"/>
				<xs:element ref="AllowChargeReferenceNbr" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblAmount">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="Amount" minOccurs="0"/>
				<xs:element ref="BuyerCurrencyCode" minOccurs="0"/>
				<xs:element ref="BuyerExchangeRate" minOccurs="0"/>
				<xs:element ref="SellerCurrencyCode" minOccurs="0"/>
				<xs:element ref="SellerExchangeRate" minOccurs="0"/>
				<xs:element ref="UnitOfMeasure" minOccurs="0"/>
				<xs:element ref="CreditDebitFlag" minOccurs="0"/>
				<xs:element ref="RelationshipCode" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblDate">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="DateValue" minOccurs="0"/>
				<xs:element ref="ShipQuantity" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblEntityID">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="EntityValue" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblMeasurement">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="Measurement" minOccurs="0"/>
				<xs:element ref="UnitOfMeasure" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblReferenceNbr">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="ReferenceNbr" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblTax">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TaxType" minOccurs="0"/>
				<xs:element ref="TaxAmount" minOccurs="0"/>
				<xs:element ref="TaxPercent" minOccurs="0"/>
				<xs:element ref="TaxID" minOccurs="0"/>
				<xs:element ref="TaxJurisdictionQual" minOccurs="0"/>
				<xs:element ref="TaxJurisdictionCode" minOccurs="0"/>
				<xs:element ref="TaxExemptCode" minOccurs="0"/>
				<xs:element ref="RelationshipCode" minOccurs="0"/>
				<xs:element ref="DollarBasisforPct" minOccurs="0"/>
				<xs:element ref="AssignedID" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblTermsOfSale">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TermsType" minOccurs="0"/>
				<xs:element ref="TermsBasisDtCd" minOccurs="0"/>
				<xs:element ref="TermsCode" minOccurs="0"/>
				<xs:element ref="NetDaysDue" minOccurs="0"/>
				<xs:element ref="NetDueDate" minOccurs="0"/>
				<xs:element ref="DiscountDueDate" minOccurs="0"/>
				<xs:element ref="DiscountDaysDue" minOccurs="0"/>
				<xs:element ref="DiscountAmount" minOccurs="0"/>
				<xs:element ref="DiscountPercent" minOccurs="0"/>
				<xs:element ref="DefferedDueDate" minOccurs="0"/>
				<xs:element ref="DeferredAmountDue" minOccurs="0"/>
				<xs:element ref="TermsDescription" minOccurs="0"/>
				<xs:element ref="PaymentMethod" minOccurs="0"/>
				<xs:element ref="DayOfMonth" minOccurs="0"/>
				<xs:element ref="PercentOfInvPayable" minOccurs="0"/>
				<xs:element ref="Percent954" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TblTextMessage">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Qualifier" minOccurs="0"/>
				<xs:element ref="TextMessage" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TermsBasisDtCd" type="xs:string"/>
	<xs:element name="TermsCode" type="xs:string"/>
	<xs:element name="TermsDescription" type="xs:string"/>
	<xs:element name="TermsType" type="xs:string"/>
	<xs:element name="TextMessage" type="xs:string"/>
	<xs:element name="TransportationMethod" type="xs:string"/>
	<xs:element name="UnitOfMeasure" type="xs:string"/>
	<xs:element name="UnitPrice" type="xs:string"/>
	<xs:element name="UnitPriceBasis" type="xs:string"/>
	<xs:element name="Value" type="xs:string"/>
</xs:schema>